<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
       <%- include("header", { title }) %>
        <main>
            <% messages.forEach((message, index) => { %>
                <div class="message">
                    <div class = "info">
                        <h3><%= message.user %></h3>
                        <h5><%= message.added %></h5>
                    </div>
                    <div class = "content">
                        <p><%= message.text %></p>
                    </div>
                    <div class="button">
                        <p><a href="/messages/<%= index %>">Open</a></p>
                    </div>
                </div>
            <% }); %>
        </main>
        <%- include("footer") %>
    </body>
</html>