<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="Home">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
       <%- include("header", { title }) %>
        <main>
            <% messages.forEach((message, index) => { %>
                <div class="message">
                    <div class = "info">
                        <h3><%= message.username %></h3>
                        <h5><%= message.added.toISOString().slice(0, 19).replace("T", " ") %></h5>
                    </div>
                    <div class = "content">
                        <p><%= message.text %></p>
                    </div>
                    <div class="button">
                        <p><a href="/messages/<%= message.id %>">Open</a></p>
                    </div>
                </div>
            <% }); %>
        </main>
        <%- include("footer") %>
    </body>
</html>